body {
  font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

html, body {
  background-image: url('../img/father_son.png');
  height: 100%;
  max-width: 100%;
  background-color: #000;
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding: 75vh 0 0 0;
  margin: 0 auto;
  width: 45%;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
}

p {
  text-align: left;
  font-size:2em;
  color: white;
  width: 15em;
}

strong {
  color: rgba(0, 0, 0, 0.9);
}
section {
  height: 100%;
  position: relative;
  text-align: center;
}

/*
#pablosebas {
  background-image: url(../img/pablosebas.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  height: 107%;
  width: 100%;
  }*/

.amazonBtn {
  background-image: url('../img/amazon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

#one {
  background-image: url('../img/father_son.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#two {
  background-image: url('../img/father_son_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  //z-index: -2;
}

#three {
  background-image: url('../img/painting.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#four {
  background-image: url('../img/book_design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#five {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 5vw;
}

/* Contact form*/
#six {
  background-image: url('../img/painting.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#six > .innerS6 > form {
  background-color:#fea645;
  padding:2em;
  text-align:center;
  border-radius:1em;
}

#six > .innerS6 > form > center > div > input[type="text"] {
  font-size:1.2em;
  margin-top:0.4em;
  padding:0.4em;
}

#six > .innerS6 > form > center > div > input[type="submit"] {
  margin-top:1em;
  padding: 20px;
  background: #000;
  color: #fff;
  text-align: center;
  border: 0;
  font-size: 1em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

button {
  border-radius: 2px;
  background-color: rgb(101, 101, 101);
  color: #f8af62;
  border: 0;
  box-shadow:none;
  margin: 15px;
  padding: 5px;
}

button .flex__span img {
  margin-top: 3px;
  max-height: 35px;
}

button .flex__span p {
  color: #f8af62;
  margin: auto -60px auto 0px;
  font-size: 1em;
}

.flex__span {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#sebasmarroquin {
  position: absolute;
  left: 67%;
  height: 120%;
  width: 100%;
  background-image: url(/img/sebasmarroquin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#pabloescobar {
  position: absolute;
  left: -33%;
  height: 120%;
  width: 100%;
  background-image: url(/img/pabloescobar.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*
#pabloescobar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background-image: url('/img/pabloescobar.png');
}

#sebasmarroquin {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-image: url('/img/sebasmarroquin.png');
}
*/
/* Center aligned first section */
section .inner {
  margin: 0 auto;
  //max-width: 85%;
}
/* Content of the following sections aligned next to the iphone */
section .innerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100px, -50%);
  text-align: left;
}

/* iPhone/Card positioned to the left - this is a default position */
.iphone {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
}

.iphone img {
  max-width: 70%;
}
/* Centered content of the ScrollMagic card */
.iphone p {
  font-size: 140px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.9);
}
/* Letters hidden by default */
.iphone p.screenA, .iphone p.screenB, .iphone p.screenC {
  opacity: 0;
  visibility: hidden;
}
/* ScrollMagic hat on top of letters */
.iphone p.screenHat {
  z-index: -1;
}
.iphone p.screenHat img {
  max-width: 130px;
}
/* Bullet list */
.features {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}
.features li {
  position: relative;
  padding-left: 17px;
  color:#fea645;
  font-size: 1.6em;
  margin-left: 10em;
}
/* A heart instead of a bullet
.features li:before {
  content: '❤';
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 5px;
  display: block;
  color: #ff466a;
}*/
