.inline
    display inline-block

//Este funciona hasta 450 aprox, pero lo dejo en 899
//para no sobreescribir tantos estilos en los demas mq 
@media (max-width: 899px)
    #one
        .inner
            background linear-gradient(to bottom, #fea645 0%,#fea645 50%,#fea645 50%,rgba(0,0,0,0.3) 50%,rgba(0, 0, 0, 0.3) 100%)
            height 100%

        &.landing
            background: url(../img/father_son.png), #fea645;
            background-position: bottom center, 0% center;
            background-size: 100% 50%, 100% 100%;
            background-repeat: no-repeat, no-repeat;
    
        h1
            position absolute
            left 10%
            bottom 15px
            width 80%
            padding 0
            color white
            font-size 1.1rem
        
        strong
            color white
        
        #pabloescobar
            background-size: 100% 50%;
            width 50%
            height 100vh
            display inline-block
            position absolute
            right 0
            top 0
        
        #sebasmarroquin
            background-size: 100% 50%;
            width 50%
            height 100vh
            display inline-block
            position absolute
            left 0
            top 0
    
    .iphone
        top 5%
        left initial
        width 100%
        height auto
        position fixed
        transform initial
        .libro__grande
            width 35%    
            //height 30vh
            box-shadow: 0 0 15px #000, 0 0 15px #0000;  
        div
            position initial
            transform initial
            display flex
            justify-content center
            padding-top 10px
        .amazonBtn
            width 30vw
            padding 10px 20px
            background #fea645
        .available__amazon
            display block
            height auto
            width 25%
            box-shadow: 0 0 15px #000, 0 0 15px #0000;
        
    
    #two, #three, #four
        margin-top 0px
        
        .innerText
            background: rgba(0, 0, 0, 0.2);
            position initial
            transform initial
            height 100%
            
            h2
                color white
                margin 0px
                margin-left 10%
                margin-right 10%
                padding-top 40px
                font-size 1.3rem
                text-align center
            p
                //el valor del margin top va relacionado en 1.8 aprox del width de la imagen del libro
                margin 50px 50% 0 10%
                color white
            ul
                margin 0
                margin-right 10%
                text-align right
                color #fea645
                width 50%
                strong 
                    color #fea645
                    font-weight bold
                    font-size 1.2rem
    
    #five
        visibility hidden
        top 70vh
        z-index 2
        display flex
        flex-direction column
        align-items center
        width 100%
        right initial
        //display block
        //right 0px
        //width 50%
        //transition 4s visibility ease
        button
            font-size 0.9rem
        button:nth-child(1)
            padding 15px 20px
        
        .ytImage
            display initial
    
    #six
        width 100%
        height 100%
        background #fea645
        
        .requestForm
            width 80%
            height 90%
            position absolute
            z-index 4
            background #fea645
            padding 10% 10%
            
            h2
                text-align center
                font-size 1.7rem
            .field
                margin-top 30px
            .submit
                width 100%
                display flex
                justify-content center
                margin-top 10%

            label
                display block
                width 100%
                font-size 1.5rem
            input[type='text']
                width 100%
                height 30px
                font-size 1.4rem
            input[type='submit']
                padding 20px
                background black
                color white
                text-align center
                border 0
                font-size 1.2rem
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)

@media (min-width 600px) and (max-width: 899px)
    #one
        h1
            bottom initial
            top 78vh
            font-size 1.5rem
        #pabloescobar
            width 35%
        #sebasmarroquin
            width 35%
    
    .iphone
        top 10%

        .libro__grande
            height 40vh
    
    #five
        top 63vh
        button
            font-size 1.5rem
        .ytImage
            display block
            margin 24px 5px
    
    #two, #three, #four
        .innerText
            
            h2
                font-size 2rem
            p
                margin-top 68vh
                font-size 1.5rem
            li
                font-size 1.3rem
            strong
                font-size 1.4rem
    #six
        .requestForm
            h2
                font-size 2.5rem
            label
                font-size 2rem
            input[type="text"]
                font-size 2rem
                height 60px
            input[type="submit"]
                font-size 2rem

