.inline {
  display: inline-block;
}
@media (max-width: 899px) {
  #one .inner {
    background: linear-gradient(to bottom, #fea645 0%, #fea645 50%, #fea645 50%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%);
    height: 100%;
  }
  #one.landing {
    background: url("../img/father_son.png"), #fea645;
    background-position: bottom center, 0% center;
    background-size: 100% 50%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
  }
  #one h1 {
    position: absolute;
    left: 10%;
    bottom: 15px;
    width: 80%;
    padding: 0;
    color: #fff;
    font-size: 1.1rem;
  }
  #one strong {
    color: #fff;
  }
  #one #pabloescobar {
    background-size: 100%;
    width: 100%;
    height: 50%;
    display: inline-block;
    position: absolute;
    left: -50%;
    top: 0;
  }
  #one #sebasmarroquin {
    background-size: 100%;
    width: 100%;
    height: 50%;
    display: inline-block;
    position: absolute;
    left: 50vw;
    top: 0;
  }
  .iphone {
    top: 5%;
    left: initial;
    width: 100%;
    height: auto;
    position: fixed;
    transform: initial;
  }
  .iphone .libro__grande {
    width: 35vw;
    max-width: 30vw;
    box-shadow: 0 0 15px #000, 0 0 15px rgba(0,0,0,0);
  }
  .iphone div {
    position: initial;
    transform: initial;
    display: flex;
    justify-content: center;
  }
  .iphone .amazonBtn {
    width: 30vw;
    padding: 10px 20px;
    transition: 1s display ease;
  }
  .iphone .available__amazon {
    display: block;
    height: auto;
    width: 25%;
    box-shadow: 0 0 15px #000, 0 0 15px rgba(0,0,0,0);
  }
  #two,
  #three,
  #four {
    margin-top: 0px;
  }
  #two .innerText,
  #three .innerText,
  #four .innerText {
    background: rgba(0,0,0,0.2);
    position: initial;
    transform: initial;
    height: 100%;
  }
  #two .innerText h2,
  #three .innerText h2,
  #four .innerText h2 {
    color: #fff;
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    font-size: 1.3rem;
    text-align: center;
  }
  #two .innerText .features li,
  #three .innerText .features li,
  #four .innerText .features li {
    font-size: 1rem;
    margin-left: 0;
  }
  #two .innerText p,
  #three .innerText p,
  #four .innerText p {
    margin: 50px 50% 0 10%;
    font-size: 1rem;
    width: 10rem;
    color: #fff;
  }
  #two .innerText ul,
  #three .innerText ul,
  #four .innerText ul {
    margin: 0;
    margin-right: 10%;
    text-align: right;
    color: #fea645;
    width: 50%;
  }
  #two .innerText ul strong,
  #three .innerText ul strong,
  #four .innerText ul strong {
    color: #fea645;
    font-weight: bold;
    font-size: 1.2rem;
  }
  #five {
    visibility: hidden;
    top: 70vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    right: initial;
  }
  #five button {
    font-size: 0.9rem;
  }
  #five button:nth-child(1) {
    padding: 15px 20px;
  }
  #five .ytImage {
    display: initial;
    width: 50px;
  }
  #six {
    width: 100%;
    height: 100%;
    background: #fea645;
  }
  #six .innerText {
    position: initial;
    transform: initial;
  }
  #six .requestForm {
    width: 80%;
    height: 90%;
    position: absolute;
    z-index: 4;
    background: #fea645;
    padding: 10% 10%;
  }
  #six .requestForm h2 {
    text-align: center;
    font-size: 1.7rem;
  }
  #six .requestForm .submit {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #six .requestForm label {
    display: block;
    width: 100%;
    font-size: 1.5rem;
  }
  #six .requestForm input[type='text'] {
    height: 30px;
    font-size: 1.4rem;
    width: 15rem;
  }
  #six .requestForm input[type='submit'] {
    padding: 20px;
    background: #000;
    color: #fff;
    text-align: center;
    border: 0;
    font-size: 1.2rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  }
}
@media (min-width: 760px) and (max-width: 899px) {
  html {
    font-size: 24px;
  }
  #five {
    top: 50vh;
    align-items: baseline;
  }
  #five p {
    margin: 0;
    margin-top: 5px;
  }
  #five button {
    width: 15rem;
  }
  #five button:nth-child(2) {
    padding: 10px 25px;
  }
  #five .ytImage {
    margin: 0px;
  }
}
@media (orientation: landscape) and (max-width: 899px) {
  .iphone .libro__grande {
    max-width: 15vw;
  }
  .iphone div {
    padding: 0;
  }
  .iphone .amazonBtn {
    padding: 10px 0px;
    width: 15vw;
    height: 10vh;
  }
  .iphone .displayAmazon {
    display: none;
  }
  #one.landing {
    background: url("../img/father_son.png");
  }
  #one .inner {
    background: none;
  }
  #one h1 {
    font-size: 0.8rem;
    left: 30%;
    width: 40%;
  }
  #one strong {
    font-size: 1rem;
  }
  #one #sebasmarroquin {
    background-size: contain;
    left: 67%;
    height: 100%;
  }
  #one #pabloescobar {
    background-size: contain;
    left: -35%;
    height: 100%;
  }
  #two .innerText h2,
  #three .innerText h2,
  #four .innerText h2 {
    padding-top: 15px;
  }
  #two .innerText p,
  #three .innerText p,
  #four .innerText p {
    margin-top: 20px;
    width: 50vw;
  }
  #five {
    align-items: initial;
  }
  #five p {
    margin: 0;
    color: #e85555;
  }
  #five button:nth-child(1),
  #five button:nth-child(2) {
    width: 40%;
    padding: 5px 0px 5px 1rem;
    margin: 5px 15px;
  }
  #five .ytImage {
    display: none;
  }
}
