.inline
    display inline-block

//Este funciona hasta 450 aprox, pero lo dejo en 899
//para no sobreescribir tantos estilos en los demas mq 
@media (max-width: 899px)
    #one
        .inner
            background linear-gradient(to bottom, #fea645 0%,#fea645 50%,#fea645 50%,rgba(0,0,0,0.3) 50%,rgba(0, 0, 0, 0.3) 100%)
            height 100%

        &.landing
            background: url(../img/father_son.png), #fea645;
            background-position: bottom center, 0% center;
            background-size: 100% 50%, 100% 100%;
            background-repeat: no-repeat, no-repeat;
    
        h1
            position absolute
            left 10%
            bottom 15px
            width 80%
            padding 0
            color white
            font-size 1.1rem
        
        strong
            color white
        
        #pabloescobar
            background-size: 100%;
            width 100%
            height 50%
            display inline-block
            position absolute
            left -50%
            top 0
        
        #sebasmarroquin
            background-size: 100%;
            width 100%
            height 50%
            display inline-block
            position absolute
            left 50vw
            top 0
    
    .iphone
        top 5%
        left initial
        width 100%
        height auto
        position fixed
        transform initial
        .libro__grande
            width 35vw  
            max-width 30vw
            //height 30vh
            box-shadow: 0 0 15px #000, 0 0 15px #0000;  
        div
            position initial
            transform initial
            display flex
            justify-content center
            //padding-top 10px
        .amazonBtn
            width 30vw
            padding 10px 20px
            //background #fea645
            transition 1s display ease
        .available__amazon
            display block
            height auto
            width 25%
            box-shadow: 0 0 15px #000, 0 0 15px #0000;
        
    
    #two, #three, #four
        margin-top 0px
        
        .innerText
            background: rgba(0, 0, 0, 0.2);
            position initial
            transform initial
            height 100%
            
            h2
                color white
                margin 0px
                margin-left 10%
                margin-right 10%
                padding-top 30px
                font-size 1.3rem
                text-align center
            .features li
                font-size 1rem
                margin-left 0
            p
                //el valor del margin top va relacionado en 1.8 aprox del width de la imagen del libro
                margin 50px 50% 0 10%
                font-size 1rem
                width 10rem
                color white
            ul
                margin 0
                margin-right 10%
                text-align right
                color #fea645
                width 50%
                strong 
                    color #fea645
                    font-weight bold
                    font-size 1.2rem
    
    #five
        visibility hidden
        top 70vh
        z-index 2
        display flex
        flex-direction column
        align-items center
        width 100%
        right initial
        //display block
        //right 0px
        //width 50%
        //transition 4s visibility ease
        button
            font-size 0.9rem
        button:nth-child(1)
            padding 15px 20px
        
        .ytImage
            display initial
            width 50px    
    #six
        width 100%
        height 80%
        background #fea645
        
        .innerText
            position initial
            transform initial

        .requestForm
            width 80%
            height 90%
            position absolute
            z-index 4
            background #fea645
            padding 10% 10%
            //margin-top -20rem
            
            h2
                text-align center
                font-size 1.7rem
            .field
                //margin-top 30px
            .submit
                width 100%
                display flex
                justify-content center
                //margin-top 10%

            label
                display block
                width 100%
                font-size 1.5rem
            input[type='text']
                //width 100%
                height 30px
                font-size 1.4rem
                width 15rem
                //margin-left 7rem
            input[type='submit']
                padding 20px
                background black
                color white
                text-align center
                border 0
                font-size 1.2rem
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
    
    .footer
        height 20%
        position relative
        z-index 3
        .footer-text-inside
            display none
        .footer-socialIcons
            width 25vw

@media (min-width: 760px) and (max-width 899px)
    html
        font-size 24px
    #five
        top 50vh
        align-items baseline
        
        p
            margin 0
            margin-top 5px

        button
            width 15rem
        button:nth-child(2)
            padding 10px 25px
        .ytImage
            margin 0px

@media (orientation: landscape) and (max-width 899px)
    .iphone
        .libro__grande
            max-width 15vw
        div
            padding 0
        .amazonBtn
            padding 10px 0px
            width 15vw
            height 10vh
        .displayAmazon
            display none
    
    #one
        &.landing
            background url(../img/father_son.png)
        .inner
            background none
        h1
            font-size 0.8rem
            left 30%
            width 40%
        strong
            font-size 1rem
        #sebasmarroquin
            background-size contain
            left 67%
            height 100%
        #pabloescobar
            background-size contain
            left -35%
            height 100%
    
    #two, #three, #four
        .innerText
            h2
                padding-top 15px
            p
                margin-top 20px
                width 50vw
    
    #five
        align-items initial
        
        p
            margin: 0
            color: #e85555

        button
            &:nth-child(1), &:nth-child(2)
                width 40%
                padding 5px 0px 5px 1rem
                margin 5px 15px
        
        .ytImage
            display none

